body {
    background-image: url(assets/christopher-gower-unsplash.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.card {
    background: rgba(184, 184, 184, 0.253);
    box-shadow: 2px 10px 10px 10px rgba(0, 0, 0, 0.288);
    backdrop-filter: blur( 10px );
    border-radius: 10px;
    height: 65%;
    width: 20%;
    margin: auto;
    margin-top: 150px;
    
}

img {
    border-radius: 50%;
    border: solid 5px blue;
    margin: 50px 100px 0;
}

h1 {
    color: rgb(255, 106, 6);
}
.info {
color: white;
 margin-left: 2rem ;
 margin-right: 2rem;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
p {
    font-size: 20px;
}
section {
    color: rgb(0, 106, 245);
    font-size: 3rem;
    text-align: center;
    letter-spacing: 10px;
}