:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 500px;
  height: 500px;
  background-color: cornflowerblue;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  background-color: chocolate;
  position: absolute;
  top: 0;
  left: 0;
  /* transition: 1s; */
}

main:hover .box {
  animation: move-me 1s;
  animation-fill-mode: forwards;
  /* transform: translate(400px); */
}

@keyframes move-me {
  50% {
    top: 400px;
    left: 200px;
    border-radius: 0;
  }
  100% {
    border-radius: 50%;
    left: 400px;
    top: 0;
  }
}
